@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@tailwind base;

@tailwind components;
@tailwind utilities;

@layer components {
    .align-element {
      @apply mx-auto lg:max-w-[90%] px-8;
    }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}